{% extends 'base.html' %}

{% block content %} 

<h2>Crear Usuario</h2>
    {% if form.errors %}
    <div class="alert alert-danger">
        <strong>Error en el formulario:</strong>
        <ul>
            {% for field, error_list in form.errors.items %}
                {% for error in error_list %}
                    <li>{{ field|capfirst }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <div class="alert alert-success">
        <strong>Registro exitoso:</strong> Los datos se han agregado satisfactoriamente.
    </div>
    {% endif %}
    <form method="post" class="user-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.CvUser.id_for_label }}" class="form-label">CvUser:</label>
            {{ form.CvUser }}
        </div>
        <div class="form-group">
            <label for="{{ form.CvPerson.id_for_label }}" class="form-label">CvPerson:</label>
            {{ form.CvPerson }}
        </div>
        <div class="form-group">
            <label for="{{ form.Login.id_for_label }}" class="form-label">Login:</label>
            {{ form.Login }}
        </div>
        <div class="form-group">
            <label for="{{ form.Password.id_for_label }}" class="form-label">Password:</label>
            {{ form.Password }}
        </div>
        <div class="form-group">
            <label for="{{ form.FecIni.id_for_label }}" class="form-label">FecIni:</label>
            {{ form.FecIni }}
        </div>
        <div class="form-group">
            <label for="{{ form.FecFin.id_for_label }}" class="form-label">FecFin:</label>
            {{ form.FecFin }}
        </div>
        <div class="form-group">
            <label for="{{ form.EdoCta.id_for_label }}" class="form-label">EdoCta:</label>
            {{ form.EdoCta }}
        </div>
        <button type="submit" class="submit-button">Registrar</button>
    </form>

{% endblock %}

