{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<br>
<div class="card mx-auto" style="width: 30rem;">
    <div class="card-body">
        <h5 class="card-title">MODIFICAR</h5>
        <h6 class="card-subtitle mb-2 text-muted">Ingrese todos los campos</h6>
        <form action="" method="post">
            {% csrf_token %}

            {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>{{ field }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {{ form | crispy }}

            <button type="submit">Modificar</button>
        </form>
    </div>
</div>

{% endblock %}
