{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}

<br />
<div class="card mx-auto" style="width: 30rem">
  <div class="card-body">
    <h5 class="card-title">INICIO DE SESION</h5>
    <h6 class="card-subtitle mb-2 text-muted">Ingrese sus credenciales</h6>
    <form action="" method="post">
      {% csrf_token %} {% for message in messages %}
      <div class="alert alert-danger">{{ message }}</div>
      {% endfor %} {{ form | crispy }}

      <button type="submit">Iniciar sesion</button>
    </form>
  </div>
</div>

{% endblock %}
