{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}

<div>
    <form method="post" action="{% url 'password_change' %}">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" value="Cambiar contraseña">
    </form>
    
    <script>
    document.querySelector('.show-password').addEventListener('change', function() {
        var newPasswordField = document.querySelector('#id_new_password1');
        var newPasswordField2 = document.querySelector('#id_new_password2');
        if (this.checked) {
            newPasswordField.type = 'text';
            newPasswordField2.type = 'text';
        } else {
            newPasswordField.type = 'password';
            newPasswordField2.type = 'password';
        }
    });
    </script>
    
</div>

{% endblock %}
